<?xml version="1.0" encoding="utf-8"?>
<Configuration>
  <Parameters>
    <ADSettings>
      <NetBiosName>jivedev</NetBiosName>
      <TLD>com</TLD>
      <UserOU>EICUsers</UserOU>
      <GroupOU>EICGroups</GroupOU>
      <Password>Abc123!</Password>
    </ADSettings>
    <Etc>
      <LyncISOLabel>LS-V-8308.0-enUS</LyncISOLabel>
      <SP2013ISOLabel>15.0.4569.1506</SP2013ISOLabel>
      <SP2010ISOLabel>SERVER14</SP2010ISOLabel>
      <Server2012R2ISOLabel>IR3_SSS_X64FRE</Server2012R2ISOLabel>
    </Etc>
    <Networking>
      <NetMask>255.255.255.0</NetMask>
      <Gateway>192.168.1.1</Gateway>
    </Networking>
    <Paths>
      <PowershellModules>c:\deploy\installs\modules</PowershellModules>
      <SQLExpressFile>C:\Deploy\Installs\SQLEXPR_x64_ENU.exe</SQLExpressFile>
      <SetupPath>c:\deploy</SetupPath>
      <AutoSPInstallerFile>c:\deploy\sharepoint\autospinstaller\AutoSPInstallerLaunch.bat</AutoSPInstallerFile>
      <AutoSPInstallerXMLFile>c:\deploy\AutoSPInstallerSettings.xml</AutoSPInstallerXMLFile>
      <StepFile>c:\deploy\step.txt</StepFile>
      <FlowFile>c:\deploy\flow.txt</FlowFile>
      <TopologyFile>c:\deploy\lync\jivewindev.com.tbxml</TopologyFile>
      <LyncUpdateFile>c:\deploy\installs\lyncserverupdateinstaller.exe</LyncUpdateFile>
      <SilverLightFile>c:\deploy\installs\Silverlight_x64.exe</SilverLightFile>
      <PolipoSetupFile>c:\deploy\installs\polipo\install_polipo.cmd</PolipoSetupFile>
      <SharepointModule>c:\Program Files\Common Files\Microsoft Shared\Web Server Extensions\15\CONFIG\POWERSHELL\Registration\sharepoint.ps1</SharepointModule>
      <LyncShare>c:\LyncShare</LyncShare>
      <SP2013FilePath>c:\deploy\sharepoint\2013\Sharepoint</SP2013FilePath>
      <SP2010FilePath>c:\deploy\sharepoint\2010\Sharepoint</SP2010FilePath>
    </Paths>
    <SQLSettings>
      <SQLAlias>SQL\SHAREPOINT</SQLAlias>
      <SPSQLInstance>localhost\sharepoint</SPSQLInstance>
    </SQLSettings>
  </Parameters>
  <DerivedParameters>
    <CAConfig>"$($ADDS.Hostname).$NetBiosName.$TLD\$($ADDS.Hostname)"</CAConfig>
    <LyncFEHostname>$Lync2013std.hostname</LyncFEHostname>
    <DomainAdmin>"$NetBiosName\Administrator"</DomainAdmin>
    <DomainUserPath>"OU=$UserOU,DC=$NetBiosName,DC=$TLD"</DomainUserPath>
    <DomainGroupPath>"OU=$GroupOU,DC=$NetBiosName,DC=$TLD"</DomainGroupPath>
    <LicenseKey2013>$SP2013.licensekey</LicenseKey2013>
    <LicenseKey2010>$SP2010.licensekey</LicenseKey2010>
    <DomainUserList>(Get-Content "$ScriptPath\DomainUserList.txt")</DomainUserList>
    <DomainGroupList>(Get-Content "$ScriptPath\DomainGroupList.txt")</DomainGroupList>
    <LyncUserList>(Get-Content "$ScriptPath\DomainUserList.txt" | Select-String -Pattern "Lync")</LyncUserList>
    <SharepointUserList>(Get-Content "$ScriptPath\DomainUserList.txt" | Select-String -Pattern "Sharepoint")</SharepointUserList>
    <DomainName>"$NetBiosName.$TLD"</DomainName>
    <LyncMedia>((Get-WmiObject -Class "Win32_CDROMDrive" | ? VolumeName -match $LyncISOLabel | Select -First 1).Drive)</LyncMedia>
    <SP2010Media>((Get-WmiObject -Class "Win32_CDROMDrive" | ? VolumeName -match $SP2010ISOLabel | Select -First 1).Drive)</SP2010Media>
    <SP2013Media>((Get-WmiObject -Class "Win32_CDROMDrive" | ? VolumeName -match $SP2013ISOLabel | Select -First 1).Drive)</SP2013Media>
    <Server2012Media>"$((Get-WmiObject -Class "Win32_CDROMDrive" | ? VolumeName -match $Server2012R2ISOLabel | Select -First 1).Drive)\sources\sxs"</Server2012Media>
  </DerivedParameters>
  <DNSRecords>
    <Record name="Portal" type="A" data="192.168.1.70" />
    <Record name="adfs3" type="A" data="192.168.1.50" />
    <Record name="Mysites" type="A" data="192.168.1.70" />
  </DNSRecords>
  <Flows>
    <ADDS>
      <Stage Order="1" Command="Initialize -Settings $ADDS; Install-NetFX3 &quot;DC&quot;" />
      <Stage Order="2" Command="Install-ADDSRSATFeatures; Install-Polipo"></Stage>
      <Stage Order="3" Command="Install-ADDSFeatures" />
      <Stage Order="4" Command="Install-Forest" />
      <Stage Order="5" Command="Create-ADObjects; RegisterDNS; Install-PKI" />
      <Stage Order="6" Command="Install-ADFS3" />
      <Stage Order="7" Command="Remove-Item $StepFile; Disable-Task &quot;EIC&quot;; throw &quot;Done&quot;" />
    </ADDS>
    <Lync2013std>
      <Stage Order="1" Command="Initialize -Settings $Lync2013Std;" />
      <Stage Order="2" Command="Install-NetFX3 &quot;Lync&quot;; Install-LyncDatabases; InstallWasp; DeployLync2013Std" />
      <Stage Order="3" Command="DeployLyncRoundTwo"></Stage>
      <Stage Order="4" Command="DeployLyncRoundThree" />
      <Stage Order="5" Command="InstallLyncUpdates" />
      <Stage Order="6" Command="ConfigureLyncUpdates; Configure-Pidgin" />
      <Stage Order="7" Command="Remove-Item $StepFile; Disable-Task &quot;EIC&quot;; throw &quot;Done&quot;" />
    </Lync2013std>
    <SP2013>
      <Stage Order="1" Command="Initialize -Settings $SP2013" />
      <Stage Order="2" Command="Install-NetFX3 &quot;SP&quot;; Setup-Sharepoint" />
      <Stage Order="3" Command="Install-SQLExpress &quot;Sharepoint&quot;; Install-Sharepoint" />
      <Stage Order="4" Command="Remove-Item $StepFile; Disable-Task &quot;EIC&quot;; throw &quot;Done&quot;" />
    </SP2013>
    <W7Client>
      <Stage Order="1" Command="Initialize -Settings $W7Client" />
      <Stage Order="2" Command="Disable-Task &quot;EIC&quot;; throw &quot;Done&quot;"></Stage>
      <Stage Order="7" Command="Disable-Task &quot;EIC&quot;; throw &quot;Done&quot;" />
    </W7Client>
    <SPPost>
      <Stage Order="1" Command="iex &quot;Finalize-SP$(Env:Version)&quot;;"></Stage>
      <Stage Order="2" Command="Remove-Item $StepFile; Disable-Task &quot;EIC&quot;; throw &quot;Done&quot;" />
    </SPPost>
  </Flows>
  <Functions>
    <Function>c:\deploy\Lync_Functions.ps1</Function>
    <Function>c:\deploy\ADDS_Functions.ps1</Function>
    <Function>c:\deploy\SP_Functions.ps1</Function>
    <Function>c:\deploy\Functions.ps1</Function>
  </Functions>
  <Hosts>
    <ADDS hostname="WINDEV-DC" ipaddress="192.168.1.50" role="DC" version="2012R2" />
    <SP2013 hostname="WINDEV-SP2013" ipaddress="192.168.1.70" role="SP" version="2013" licensekey="" />
    <SP2010 hostname="WINDEV-SP2010" ipaddress="192.168.1.80" role="SP" version="2010" licensekey="" />
    <Lync2013Std hostname="WINDEV-LYNC2013" ipaddress="192.168.1.90" role="Lync" version="2013" />
    <Lync2010Std hostname="WINDEV-LYNC2010" ipaddress="192.168.1.100" role="Lync" version="2010" />
    <W8Client hostname="WINDEV-W8CLIENT" ipaddress="192.168.1.110" role="Client" version="Win8" />
    <W7Client hostname="WINDEV-W7CLIENT" ipaddress="192.168.1.120" role="Client" version="Win7" />
  </Hosts>
  <AutoSPInstallerXML>
    <Configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" Environment="Dev" Version="3.96">
      <Install SPVersion="%VERSION%">
        <ConfigFile>config-AutoSPInstaller.xml</ConfigFile>
        <InstallDir />
        <DataDir />
        <PIDKey>%LICENSEKEY%</PIDKey>
        <SKU>Enterprise</SKU>
        <OfflineInstall>true</OfflineInstall>
        <PauseAfterInstall>true</PauseAfterInstall>
        <RemoteInstall Enable="false">
          <ParallelInstall>false</ParallelInstall>
        </RemoteInstall>
        <AutoAdminLogon Enable="true" Password="%PASSWORD%" />
        <Disable>
          <LoopbackCheck>true</LoopbackCheck>
          <UnusedServices>true</UnusedServices>
          <IEEnhancedSecurity>true</IEEnhancedSecurity>
          <CertificateRevocationListCheck>true</CertificateRevocationListCheck>
        </Disable>
      </Install>
      <Farm>
        <Passphrase>%PASSWORD%%PASSWORD%</Passphrase>
        <Account AddToLocalAdminsDuringSetup="true" LeaveInLocalAdmins="false">
          <Username>%NETBIOSNAME%\SP_Farm</Username>
          <Password>%PASSWORD%</Password>
        </Account>
        <CentralAdmin Provision="localhost">
          <Database>Content_Admin</Database>
          <Port>%VERSION%</Port>
          <UseSSL>true</UseSSL>
        </CentralAdmin>
        <Database>
          <DBServer>%SQLALIAS%</DBServer>
          <DBAlias Create="true" DBInstance="%SPSQLINSTANCE%" DBPort="" />
          <DBPrefix>SP%VERSION%</DBPrefix>
          <ConfigDB>Config</ConfigDB>
        </Database>
        <Services>
          <SandboxedCodeService Start="false" />
          <ClaimsToWindowsTokenService Start="false" UpdateAccount="false" />
          <SMTP Install="true" />
          <OutgoingEmail Configure="true">
            <SMTPServer>sharepoint</SMTPServer>
            <EmailAddress>administrator@%DOMAINNAME%</EmailAddress>
            <ReplyToEmail>administrator@%DOMAINNAME%</ReplyToEmail>
          </OutgoingEmail>
          <IncomingEmail Start="localhost" />
          <DistributedCache Start="localhost" />
          <WorkflowTimer Start="localhost" />
          <FoundationWebApplication Start="localhost" />
        </Services>
        <ManagedAccounts>
          <ManagedAccount CommonName="spservice">
            <Username>%NETBIOSNAME%\SP_Services</Username>
            <Password>%PASSWORD%</Password>
          </ManagedAccount>
          <ManagedAccount CommonName="Portal">
            <Username>%NETBIOSNAME%\SP_PortalAppPool</Username>
            <Password>%PASSWORD%</Password>
          </ManagedAccount>
          <ManagedAccount CommonName="MySiteHost">
            <Username>%NETBIOSNAME%\SP_ProfilesAppPool</Username>
            <Password>%PASSWORD%</Password>
          </ManagedAccount>
          <ManagedAccount CommonName="SearchService">
            <Username>%NETBIOSNAME%\SP_SearchService</Username>
            <Password>%PASSWORD%</Password>
          </ManagedAccount>
        </ManagedAccounts>
        <ObjectCacheAccounts>
          <SuperUser>%NETBIOSNAME%\SP_CacheSuperUser</SuperUser>
          <SuperReader>%NETBIOSNAME%\SP_CacheSuperReader</SuperReader>
        </ObjectCacheAccounts>
        <Logging>
          <IISLogs Compress="true">
            <Path>c:\logs\iis</Path>
          </IISLogs>
          <ULSLogs Compress="true">
            <LogLocation>c:\log\uls</LogLocation>
            <LogDiskSpaceUsageGB />
            <DaysToKeepLogs />
            <LogCutInterval />
          </ULSLogs>
          <UsageLogs Compress="true">
            <UsageLogDir>c:\logs\usage</UsageLogDir>
            <UsageLogMaxSpaceGB />
            <UsageLogCutTime />
          </UsageLogs>
        </Logging>
      </Farm>
      <WebApplications AddURLsToHOSTS="true">
        <WebApplication type="Portal" name="Portal" applicationPool="Portal" url="https://portal.%DOMAINNAME%" port="443" UseHostHeader="false" AddURLToLocalIntranetZone="true" GrantCurrentUserFullControl="true" useClaims="true" useBasicAuthentication="false" useOnlineWebPartCatalog="false">
          <Database>
            <Name>Content_Portal</Name>
            <DBServer />
            <DBAlias Create="false" DBInstance="SERVER\INSTANCE" DBPort="" />
          </Database>
          <ManagedPaths>
            <ManagedPath relativeUrl="help" explicit="true" />
          </ManagedPaths>
          <SiteCollections>
            <SiteCollection siteUrl="https://portal.%DOMAINNAME%" HostNamedSiteCollection="false" Owner="%NETBIOSNAME%\Administrator" Name="Portal Home" Description="Portal Home Site" CustomDatabase="" SearchUrl="http://portal.%DOMAINNAME%/search" CustomTemplate="false" Template="SPSPORTAL#0" LCID="1033" Locale="en-us" Time24="false" />
          </SiteCollections>
        </WebApplication>
        <WebApplication type="MySiteHost" name="MySite Host" applicationPool="MySites" url="https://mysites.%DOMAINNAME%" port="443" UseHostHeader="true" AddURLToLocalIntranetZone="true" GrantCurrentUserFullControl="true" useClaims="true" useBasicAuthentication="false" useOnlineWebPartCatalog="false">
          <Database>
            <Name>Content_MySites</Name>
            <DBServer />
            <DBAlias Create="false" DBInstance="SERVER\INSTANCE" DBPort="" />
          </Database>
          <ManagedPaths>
            <ManagedPath relativeUrl="personal" explicit="false" />
          </ManagedPaths>
          <SiteCollections>
            <SiteCollection siteUrl="https://mysites.%DOMAINNAME%" HostNamedSiteCollection="false" Owner="%NETBIOSNAME%\administrator" Name="My Site Host" Description="My Site Host" CustomDatabase="" SearchUrl="https://portal.%DOMAINNAME%/search" CustomTemplate="false" Template="SPSMSITEHOST#0" LCID="1033" Locale="en-us" Time24="false" />
          </SiteCollections>
        </WebApplication>
      </WebApplications>
      <ServiceApps>
        <ManagedMetadataServiceApp Provision="localhost" Name="Managed Metadata Service" ProxyName="Managed Metadata Service">
          <Database>
            <Name>MetaData</Name>
            <DBServer />
            <DBAlias Create="false" DBInstance="SERVER\INSTANCE" DBPort="" />
          </Database>
        </ManagedMetadataServiceApp>
        <UserProfileServiceApp Provision="localhost" Name="User Profile Service Application" ProxyName="User Profile Service Application" MySiteHostLocation="" MySiteManagedPath="personal" EnableNetBIOSDomainNames="false" StartProfileSync="true" CreateDefaultSyncConnection="false" SyncConnectionAccount="CONTOSO\SP_ProfileSync" SyncConnectionAccountPassword="">
          <Database>
            <ProfileDB>Profile</ProfileDB>
            <SyncDB>Sync</SyncDB>
            <SocialDB>Social</SocialDB>
            <DBServer />
            <DBAlias Create="false" DBInstance="SERVER\INSTANCE" DBPort="" />
          </Database>
        </UserProfileServiceApp>
        <EnterpriseSearchService Provision="localhost" ContactEmail="administrator@%DOMAINNAME%" ConnectionTimeout="60" AcknowledgementTimeout="60" ProxyType="Default" IgnoreSSLWarnings="true" InternetIdentity="Mozilla/4.0 (compatible; MSIE 4.01; Windows NT; MS Search 6.0 Robot)" CustomIndexLocation="" PerformanceLevel="PartlyReduced" ShareName="SearchIndex">
          <EnterpriseSearchServiceApplications>
            <EnterpriseSearchServiceApplication Name="Search Service Application" FailoverDatabaseServer="" Partitioned="false" Partitions="1" SearchServiceApplicationType="Regular" ContentAccessAccount="%NETBIOSNAME%\SP_SearchContent" ContentAccessAccountPassword="%PASSWORD%">
              <Database>
                <Name>Search</Name>
                <DBServer />
                <DBAlias Create="false" DBInstance="localhost" DBPort="" />
              </Database>
              <ApplicationPool Name="SharePoint Search Application Pool" />
              <CrawlComponent>
                <Server Name="localhost" />
              </CrawlComponent>
              <QueryComponent>
                <Server Name="localhost" />
              </QueryComponent>
              <SearchQueryAndSiteSettingsServers>
                <Server Name="localhost" />
              </SearchQueryAndSiteSettingsServers>
              <AdminComponent>
                <Server Name="localhost" />
                <ApplicationPool Name="SharePoint Search Application Pool" />
              </AdminComponent>
              <IndexComponent>
                <Server Name="localhost" />
              </IndexComponent>
              <ContentProcessingComponent>
                <Server Name="localhost" />
              </ContentProcessingComponent>
              <AnalyticsProcessingComponent>
                <Server Name="localhost" />
              </AnalyticsProcessingComponent>
              <Proxy Name="Search Service Application" Partitioned="false">
                <ProxyGroup Name="Default" />
              </Proxy>
              <SearchCenterUrl />
            </EnterpriseSearchServiceApplication>
          </EnterpriseSearchServiceApplications>
        </EnterpriseSearchService>
        <StateService Provision="localhost" Name="State Service" ProxyName="State Service">
          <Database>
            <Name>StateService</Name>
            <DBServer />
            <DBAlias Create="false" DBInstance="SERVER\INSTANCE" DBPort="" />
          </Database>
        </StateService>
        <WebAnalyticsService Provision="localhost" Name="Web Analytics Service Application">
          <Database>
            <ReportingDB>WebAnalyticsReporting</ReportingDB>
            <StagingDB>WebAnalyticsStaging</StagingDB>
            <DBServer />
            <DBAlias Create="false" DBInstance="SERVER\INSTANCE" DBPort="" />
          </Database>
        </WebAnalyticsService>
        <SPUsageService Provision="localhost" Name="Usage and Health Data Collection">
          <Database>
            <Name>UsageAndHealth</Name>
            <DBServer />
            <DBAlias Create="false" DBInstance="SERVER\INSTANCE" DBPort="" />
          </Database>
        </SPUsageService>
        <SecureStoreService Provision="localhost" Name="Secure Store Service" ProxyName="Secure Store Service">
          <Database>
            <Name>SecureStore</Name>
            <DBServer />
            <DBAlias Create="false" DBInstance="SERVER\INSTANCE" DBPort="" />
          </Database>
        </SecureStoreService>
        <BusinessDataConnectivity Provision="false" Name="Business Data Connectivity Service" ProxyName="Business Data Connectivity Service">
          <Database>
            <Name>BusinessDataCatalog</Name>
            <DBServer />
            <DBAlias Create="false" DBInstance="SERVER\INSTANCE" DBPort="" />
          </Database>
        </BusinessDataConnectivity>
        <WordAutomationService Provision="false" Name="Word Automation Services" ProxyName="Word Automation Services">
          <Database>
            <Name>WordAutomation</Name>
            <DBServer />
            <DBAlias Create="false" DBInstance="SERVER\INSTANCE" DBPort="" />
          </Database>
        </WordAutomationService>
        <AppManagementService Provision="localhost" Name="App Management Service" ProxyName="App Management Service" AppDomain="apps.domain.com">
          <Database>
            <Name>AppManagement</Name>
            <DBServer />
            <DBAlias Create="false" DBInstance="SERVER\INSTANCE" DBPort="" />
          </Database>
        </AppManagementService>
        <SubscriptionSettingsService Provision="localhost" Name="Subscription Settings Service" AppSiteSubscriptionName="app">
          <Database>
            <Name>SubscriptionSettings</Name>
            <DBServer />
            <DBAlias Create="false" DBInstance="SERVER\INSTANCE" DBPort="" />
          </Database>
        </SubscriptionSettingsService>
        <WorkManagementService Provision="localhost" Name="Work Management Service Application" ProxyName="Work Management Service Application" />
        <MachineTranslationService Provision="localhost" Name="Machine Translation Service" ProxyName="Machine Translation Service">
          <Database>
            <Name>TranslationService</Name>
            <DBServer />
            <DBAlias Create="false" DBInstance="SERVER\INSTANCE" DBPort="" />
          </Database>
        </MachineTranslationService>
        <PowerPointConversionService Provision="localhost" Name="PowerPoint Conversion Service Application" ProxyName="PowerPoint Conversion Service Application" />
      </ServiceApps>
      <EnterpriseServiceApps>
        <ExcelServices Provision="false" Name="Excel Services Application" UnattendedIDUser="CONTOSO\SP_ExcelUser" UnattendedIDPassword="" />
        <VisioService Provision="false" Name="Visio Graphics Service" ProxyName="Visio Graphics Service" UnattendedIDUser="CONTOSO\SP_VisioUser" UnattendedIDPassword="" />
        <AccessService Provision="false" Name="Access 2010 Service" ProxyName="Access 2010 Service" />
        <AccessServices Provision="false" Name="Access Services" ProxyName="Access Services">
          <Database>
            <Name>AccessServices</Name>
            <DBServer />
            <DBAlias Create="false" DBInstance="SERVER\INSTANCE" DBPort="" />
          </Database>
        </AccessServices>
        <PerformancePointService Provision="false" Name="PerformancePoint Service" ProxyName="PerformancePoint Service" UnattendedIDUser="CONTOSO\SP_PerfPointUser" UnattendedIDPassword="">
          <Database>
            <Name>PerformancePoint</Name>
            <DBServer />
            <DBAlias Create="false" DBInstance="SERVER\INSTANCE" DBPort="" />
          </Database>
        </PerformancePointService>
      </EnterpriseServiceApps>
      <OfficeWebApps Install="false" ConfigFile="config-OWA-2010.xml" PIDKeyOWA="">
        <ExcelService Provision="false" Name="Excel Web App" ProxyName="Excel Web App" UnattendedIDUser="CONTOSO\SP_ExcelUser" UnattendedIDPassword="" />
        <WordViewingService Provision="false" Name="Word Viewing Service" ProxyName="Word Viewing Service" />
        <PowerPointService Provision="false" Name="PowerPoint Service Application" ProxyName="PowerPoint Service Application" />
      </OfficeWebApps>
      <ProjectServer Install="false" ConfigFile="config-ProjectServer2013.xml" PIDKeyProjectServer="">
        <ServiceApp Provision="false" Name="Project Server Service Application" ProxyName="Project Server Service Application" ManagedPath="PWA" ServiceAccount="CONTOSO\SP_ProjectServer" ServiceAccountPassword="">
          <Database>
            <Name>ProjectServer</Name>
            <DBServer />
            <DBAlias Create="false" DBInstance="SERVER\INSTANCE" DBPort="" />
          </Database>
        </ServiceApp>
      </ProjectServer>
      <AdobePDF>
        <iFilter Install="false" />
        <Icon Configure="true" />
        <MIMEType Configure="true" />
      </AdobePDF>
      <ForeFront Install="false" ConfigFile="answerfile-ForeFront.xml" />
    </Configuration>
  </AutoSPInstallerXML>
  <LyncTopology>
    <TopologyBuilder IsFreeFromChanges="true" FileName="%TopologyFile%" xmlns="urn:schema:Microsoft.Rtc.Management.Deploy.TopologyBuilder.2008">
      <NewTopology>
        <PartialTopology IsPublished="false" Signature="00000000-0000-0000-0000-000000000000" xmlns="urn:schema:Microsoft.Rtc.Management.Deploy.WritableTopology.2008">
          <InternalDomains AllowAllDomains="false" DefaultDomain="%DOMAINNAME%" xmlns="urn:schema:Microsoft.Rtc.Management.Deploy.Topology.2008">
            <InternalDomain Name="%DOMAINNAME%" Authoritative="false" AllowSubDomains="false" />
          </InternalDomains>
          <SimpleUrlConfiguration UseBackendDatabase="false" xmlns="urn:schema:Microsoft.Rtc.Management.Settings.SimpleUrl.2008">
            <SimpleUrl Component="Dialin" Domain="*" ActiveUrl="https://dialin.%DOMAINNAME%">
              <SimpleUrlEntry Url="https://dialin.%DOMAINNAME%" />
            </SimpleUrl>
            <SimpleUrl Component="Meet" Domain="%DOMAINNAME%" ActiveUrl="https://meet.%DOMAINNAME%">
              <SimpleUrlEntry Url="https://meet.%DOMAINNAME%" />
            </SimpleUrl>
          </SimpleUrlConfiguration>
          <CentralSites>
            <CentralSite SiteId="1">
              <Name xmlns="urn:schema:Microsoft.Rtc.Management.Deploy.Topology.2008">JiveWinDevSite</Name>
              <Location City="Portland" State="OR" CountryCode="USA" xmlns="urn:schema:Microsoft.Rtc.Management.Deploy.Topology.2008" />
              <Clusters>
                <Cluster IsSingleMachineOnly="true" UniqueId="4198fb30-d806-45ad-afdb-5f02a5457853" RequiresReplication="true" RequiresSetup="true" Fqdn="%LyncFEHostname%.%DOMAINNAME%">
                  <Machines>
                    <Machine FaultDomain="%LyncFEHostname%.%DOMAINNAME%" UpgradeDomain="%LyncFEHostname%.%DOMAINNAME%">
                      <NetInterface InterfaceSide="Primary" InterfaceNumber="1" IPAddress="0.0.0.0" xmlns="urn:schema:Microsoft.Rtc.Management.Deploy.Topology.2008" />
                      <NetInterface InterfaceSide="External" InterfaceNumber="1" IPAddress="0.0.0.0" xmlns="urn:schema:Microsoft.Rtc.Management.Deploy.Topology.2008" />
                    </Machine>
                  </Machines>
                  <SqlInstances>
                    <SqlInstance UniqueId="df4b5ca6-4ac7-453b-b76f-7a66e77f148d" Name="rtc" />
                  </SqlInstances>
                </Cluster>
              </Clusters>
              <RemoteSites />
            </CentralSite>
          </CentralSites>
          <Services>
            <Service UniqueId="f0dbe3f2-3eda-4521-86f0-2e25315e0257" RoleName="UserServices" RoleVersion="2" InstalledOn="4198fb30-d806-45ad-afdb-5f02a5457853" ServiceVersion="6">
              <DependsOn>
                <Dependency ServiceUniqueId="5dfb9bdb-2d72-42c0-ac7e-05d289f44c7b" Usage="Default" />
                <Dependency ServiceUniqueId="fc291a69-7037-415b-8ea3-1edb0011f513" Usage="Default" />
              </DependsOn>
              <Ports xmlns="urn:schema:Microsoft.Rtc.Management.Deploy.ServiceRoles.2008">
                <Port Owner="urn:component:McuFactory" Usage="WebServer" InterfaceSide="Primary" InterfaceNumber="1" Port="444" Protocol="Mtls" UrlPath="/LiveServer/McuFactory/" AuthorizesRequests="false" />
                <Port Owner="urn:component:PresenceFocus" Usage="UserPinManagement" InterfaceSide="Primary" InterfaceNumber="1" Port="443" Protocol="Https" UrlPath="/LiveServer/UserPinManagement/" AuthorizesRequests="false" />
                <Port Owner="urn:component:McuFactory" Usage="WcfServer" InterfaceSide="Primary" InterfaceNumber="1" Port="9001" Protocol="Tcp" UrlPath="/LiveServer/ConfDirMgmt/" AuthorizesRequests="false" />
              </Ports>
            </Service>
            <Service UniqueId="5884c016-4e1c-4a03-97a5-5b1ad181edf3" RoleName="Registrar" RoleVersion="2" InstalledOn="4198fb30-d806-45ad-afdb-5f02a5457853" ServiceVersion="6" Type="Microsoft.Rtc.Management.Deploy.Internal.ServiceRoles.RegistrarService">
              <DependsOn>
                <Dependency ServiceUniqueId="f0dbe3f2-3eda-4521-86f0-2e25315e0257" Usage="Default" />
                <Dependency ServiceUniqueId="ca12c0b2-bf7c-4631-94df-bc29f9a57f4c" Usage="Default" />
              </DependsOn>
              <Ports xmlns="urn:schema:Microsoft.Rtc.Management.Deploy.ServiceRoles.2008">
                <Port Owner="urn:component:Registrar" Usage="SipServer" InterfaceSide="Primary" InterfaceNumber="1" Port="5061" Protocol="Mtls" UrlPath="/" AuthorizesRequests="true" GruuType="HomeServer" />
                <Port Owner="urn:component:Registrar" Usage="WebServer" InterfaceSide="Primary" InterfaceNumber="1" Port="444" Protocol="Mtls" UrlPath="/LiveServer/Focus/" AuthorizesRequests="false" />
                <Port Owner="urn:component:WinFab" Usage="WinFabFederation" InterfaceSide="Primary" InterfaceNumber="1" Port="5090" Protocol="Tcp" UrlPath="/" AuthorizesRequests="false" />
                <Port Owner="urn:component:WinFab" Usage="WinFabLeaseAgent" InterfaceSide="Primary" InterfaceNumber="1" Port="5091" Protocol="Tcp" UrlPath="/" AuthorizesRequests="false" />
                <Port Owner="urn:component:WinFab" Usage="WinFabClientConnection" InterfaceSide="Primary" InterfaceNumber="1" Port="5092" Protocol="Tcp" UrlPath="/" AuthorizesRequests="false" />
                <Port Owner="urn:component:WinFab" Usage="WinFabIPC" InterfaceSide="Primary" InterfaceNumber="1" Port="5093" Protocol="Tcp" UrlPath="/" AuthorizesRequests="false" />
                <Port Owner="urn:component:WinFab" Usage="WinFabReplication" InterfaceSide="Primary" InterfaceNumber="1" Port="5094" Protocol="Tcp" UrlPath="/" AuthorizesRequests="false" />
                <Port Owner="urn:component:QoE" Usage="SipServer" InterfaceSide="Primary" InterfaceNumber="1" Port="5061" Protocol="Mtls" UrlPath="/LiveServer/QoE/" AuthorizesRequests="true" GruuType="QoS" />
                <Port Owner="urn:component:Lyss" Usage="WcfMtls" InterfaceSide="Primary" InterfaceNumber="1" Port="5077" Protocol="Mtls" UrlPath="/" AuthorizesRequests="false" />
                <Port Owner="urn:component:XmppFederation" Usage="SipServer" InterfaceSide="Primary" InterfaceNumber="1" Port="5098" Protocol="Mtls" UrlPath="/" AuthorizesRequests="true" GruuType="XmppFederation" />
              </Ports>
              <RegistrarService IsDirector="false" xmlns="urn:schema:Microsoft.Rtc.Management.Deploy.ServiceRoles.2008" />
            </Service>
            <Service UniqueId="5dfb9bdb-2d72-42c0-ac7e-05d289f44c7b" RoleName="UserStore" RoleVersion="1" InstalledOn="df4b5ca6-4ac7-453b-b76f-7a66e77f148d" ServiceVersion="6">
              <DependsOn />
              <Ports xmlns="urn:schema:Microsoft.Rtc.Management.Deploy.ServiceRoles.2008" />
            </Service>
            <Service UniqueId="b1350d2b-ff89-491d-98b9-0dd83cf334d1" RoleName="FileStore" RoleVersion="1" InstalledOn="4198fb30-d806-45ad-afdb-5f02a5457853" ServiceVersion="6" Type="Microsoft.Rtc.Management.Deploy.Internal.ServiceRoles.FileStoreService">
              <DependsOn />
              <Ports xmlns="urn:schema:Microsoft.Rtc.Management.Deploy.ServiceRoles.2008" />
              <FileStoreService ShareName="LyncShare" xmlns="urn:schema:Microsoft.Rtc.Management.Deploy.ServiceRoles.2008" />
            </Service>
            <Service UniqueId="ca12c0b2-bf7c-4631-94df-bc29f9a57f4c" RoleName="WebServices" RoleVersion="1" InstalledOn="4198fb30-d806-45ad-afdb-5f02a5457853" ServiceVersion="6" Type="Microsoft.Rtc.Management.Deploy.Internal.ServiceRoles.WebService">
              <DependsOn>
                <Dependency ServiceUniqueId="b1350d2b-ff89-491d-98b9-0dd83cf334d1" Usage="Default" />
                <Dependency ServiceUniqueId="f0dbe3f2-3eda-4521-86f0-2e25315e0257" Usage="Default" />
              </DependsOn>
              <Ports xmlns="urn:schema:Microsoft.Rtc.Management.Deploy.ServiceRoles.2008">
                <Port Owner="urn:component:OCSWebSite" Usage="WebSite" InterfaceSide="External" InterfaceNumber="1" Port="8080" Protocol="Http" UrlPath="/" AuthorizesRequests="false" ConfiguredPort="80" />
                <Port Owner="urn:component:OCSWebSite" Usage="WebSite" InterfaceSide="External" InterfaceNumber="1" Port="4443" Protocol="Https" UrlPath="/" AuthorizesRequests="false" ConfiguredPort="443" />
                <Port Owner="urn:component:OCSWebSite" Usage="WebSite" InterfaceSide="Primary" InterfaceNumber="1" Port="80" Protocol="Http" UrlPath="/" AuthorizesRequests="false" />
                <Port Owner="urn:component:OCSWebSite" Usage="WebSite" InterfaceSide="Primary" InterfaceNumber="1" Port="443" Protocol="Https" UrlPath="/" AuthorizesRequests="false" />
                <Port Owner="urn:component:Reach" Usage="PsomServer" InterfaceSide="Primary" InterfaceNumber="1" Port="8060" Protocol="Mtls" UrlPath="/" AuthorizesRequests="false" />
                <Port Owner="urn:component:Reach" Usage="PsomServer" InterfaceSide="External" InterfaceNumber="1" Port="8061" Protocol="Mtls" UrlPath="/" AuthorizesRequests="false" />
                <Port Owner="urn:component:MediaComp" Usage="AppSharingCommunication" InterfaceSide="Primary" InterfaceNumber="1" Port="49152" Protocol="TcpOrUdp" UrlPath="/" AuthorizesRequests="false" Range="16383" />
                <Port Owner="urn:component:McxService" Usage="SipServer" InterfaceSide="Primary" InterfaceNumber="1" Port="5086" Protocol="Mtls" UrlPath="/" AuthorizesRequests="true" GruuType="McxInternal" />
                <Port Owner="urn:component:McxServiceExternal" Usage="SipServer" InterfaceSide="Primary" InterfaceNumber="1" Port="5087" Protocol="Mtls" UrlPath="/" AuthorizesRequests="true" GruuType="McxExternal" />
                <Port Owner="urn:component:PersistentChatWebManager" Usage="SipServer" InterfaceSide="Primary" InterfaceNumber="1" Port="5095" Protocol="Mtls" UrlPath="/" AuthorizesRequests="true" GruuType="PersistentChatRMWebInternal" />
                <Port Owner="urn:component:PersistentChatWebManagerExternal" Usage="SipServer" InterfaceSide="Primary" InterfaceNumber="1" Port="5096" Protocol="Mtls" UrlPath="/" AuthorizesRequests="true" GruuType="PersistentChatRMWebExternal" />
                <Port Owner="urn:component:UcwaService" Usage="SipServer" InterfaceSide="Primary" InterfaceNumber="1" Port="5088" Protocol="Mtls" UrlPath="/" AuthorizesRequests="true" GruuType="UcwaInternal" />
                <Port Owner="urn:component:UcwaServiceExternal" Usage="SipServer" InterfaceSide="Primary" InterfaceNumber="1" Port="5089" Protocol="Mtls" UrlPath="/" AuthorizesRequests="true" GruuType="UcwaExternal" />
              </Ports>
              <WebService xmlns="urn:schema:Microsoft.Rtc.Management.Deploy.ServiceRoles.2008">
                <ExternalSettings Host="WINDEV-LYNC2013.jivewindev.com">
                  <OverrideUrls />
                </ExternalSettings>
                <WebComponents xmlns="urn:schema:Microsoft.Rtc.Management.Deploy.WebServices.2011">
                  <Component ComponentName="ABHandler" />
                  <Component ComponentName="ABFiles" />
                  <Component ComponentName="AutodiscoverService" />
                  <Component ComponentName="CAHandler" />
                  <Component ComponentName="CAHandlerAnon" />
                  <Component ComponentName="CollabContent" />
                  <Component ComponentName="Cscp" />
                  <Component ComponentName="DataCollabWeb" />
                  <Component ComponentName="DeviceUpdateDownload" />
                  <Component ComponentName="DeviceUpdateStore" />
                  <Component ComponentName="Dialin" />
                  <Component ComponentName="DLExpansion" />
                  <Component ComponentName="LIService" />
                  <Component ComponentName="Lwa" />
                  <Component ComponentName="McxService" />
                  <Component ComponentName="Meet" />
                  <Component ComponentName="OnlineAuth" />
                  <Component ComponentName="PowerShell" />
                  <Component ComponentName="Reach" />
                  <Component ComponentName="RgsAgentService" />
                  <Component ComponentName="StoreWeb" />
                  <Component ComponentName="UcwaService" />
                  <Component ComponentName="WebScheduler" />
                  <Component ComponentName="WebTicket" />
                  <Component ComponentName="PersistentChatWeb" />
                  <Component ComponentName="PersistentChatWebManager" />
                  <Component ComponentName="HybridConfigService" />
                </WebComponents>
                <UpaSeparator xmlns="urn:schema:Microsoft.Rtc.Management.BaseTypes.2008"></UpaSeparator>
              </WebService>
            </Service>
            <Service UniqueId="fc291a69-7037-415b-8ea3-1edb0011f513" RoleName="ConfServices" RoleVersion="1" InstalledOn="4198fb30-d806-45ad-afdb-5f02a5457853" ServiceVersion="6" Type="Microsoft.Rtc.Management.Deploy.Internal.ServiceRoles.ConfService">
              <DependsOn>
                <Dependency ServiceUniqueId="b1350d2b-ff89-491d-98b9-0dd83cf334d1" Usage="Default" />
                <Dependency ServiceUniqueId="ca12c0b2-bf7c-4631-94df-bc29f9a57f4c" Usage="Default" />
                <Dependency ServiceUniqueId="f0dbe3f2-3eda-4521-86f0-2e25315e0257" Usage="Default" />
              </DependsOn>
              <Ports xmlns="urn:schema:Microsoft.Rtc.Management.Deploy.ServiceRoles.2008">
                <Port Owner="urn:component:IMConf" Usage="SipServer" InterfaceSide="Primary" InterfaceNumber="1" Port="5062" Protocol="Mtls" UrlPath="/" AuthorizesRequests="false" GruuType="chat" />
                <Port Owner="urn:component:IMConf" Usage="WebServer" InterfaceSide="Primary" InterfaceNumber="1" Port="444" Protocol="Mtls" UrlPath="/LiveServer/IMMcu/" AuthorizesRequests="false" />
              </Ports>
              <ConfService xmlns="urn:schema:Microsoft.Rtc.Management.Deploy.ServiceRoles.2008">
                <MCUs>
                  <MCU ComponentName="IMConf" Vendor="Microsoft" />
                </MCUs>
              </ConfService>
            </Service>
            <Service UniqueId="6f9b8c14-91a8-4fe7-89b0-116f4b7a7bb3" RoleName="ApplicationServer" RoleVersion="1" InstalledOn="4198fb30-d806-45ad-afdb-5f02a5457853" ServiceVersion="6" Type="Microsoft.Rtc.Management.Deploy.Internal.ServiceRoles.ApplicationServerService">
              <DependsOn>
                <Dependency ServiceUniqueId="5884c016-4e1c-4a03-97a5-5b1ad181edf3" Usage="Default" />
                <Dependency ServiceUniqueId="b1350d2b-ff89-491d-98b9-0dd83cf334d1" Usage="Default" />
                <Dependency ServiceUniqueId="388876c2-c3ff-447f-8c32-6dffdbbc10ff" Usage="Default" />
              </DependsOn>
              <Ports xmlns="urn:schema:Microsoft.Rtc.Management.Deploy.ServiceRoles.2008">
                <Port Owner="urn:application:testbot" Usage="SipServer" InterfaceSide="Primary" InterfaceNumber="1" Port="5076" Protocol="Mtls" UrlPath="/" AuthorizesRequests="true" GruuType="Microsoft.Rtc.Applications.TestBot" />
                <Port Owner="urn:component:MediaComp" Usage="AudioCommunication" InterfaceSide="Primary" InterfaceNumber="1" Port="49152" Protocol="TcpOrUdp" UrlPath="/" AuthorizesRequests="false" Range="8348" />
                <Port Owner="urn:component:MediaComp" Usage="VideoCommunication" InterfaceSide="Primary" InterfaceNumber="1" Port="57501" Protocol="TcpOrUdp" UrlPath="/" AuthorizesRequests="false" Range="8034" />
                <Port Owner="urn:component:MediaComp" Usage="AppSharingCommunication" InterfaceSide="Primary" InterfaceNumber="1" Port="49152" Protocol="TcpOrUdp" UrlPath="/" AuthorizesRequests="false" Range="16383" />
              </Ports>
              <ApplicationServerService xmlns="urn:schema:Microsoft.Rtc.Management.Deploy.ServiceRoles.2008" />
            </Service>
            <Service UniqueId="388876c2-c3ff-447f-8c32-6dffdbbc10ff" RoleName="ApplicationStore" RoleVersion="1" InstalledOn="df4b5ca6-4ac7-453b-b76f-7a66e77f148d" ServiceVersion="6">
              <DependsOn />
              <Ports xmlns="urn:schema:Microsoft.Rtc.Management.Deploy.ServiceRoles.2008" />
            </Service>
          </Services>
        </PartialTopology>
      </NewTopology>
    </TopologyBuilder>
  </LyncTopology>
</Configuration>